.container
  height: 100vh
  width: 100%
  display: grid
  place-content: center

.form-container
  gap: 1rem
  display: flex
  flex-direction: column
  align-items: center

.form-title
  @include title

.form-input
  width: 25rem
  padding: 1rem
  border-radius: .5rem
  outline: none
  font-size: 2rem